/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Customize the background color to match your design.
   */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
   * Allow only vertical resizing of textareas.
   */
textarea {
  resize: vertical;
}

/* ==========================================================================
     Author's custom styles
     ========================================================================== */
/* ==========================================================================
     Helper classes
     ========================================================================== */
/*
   * Hide visually and from screen readers
   */
.hidden,
[hidden] {
  display: none !important;
}

/*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
   * Extends the .visually-hidden class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
   * Hide visually and from screen readers, but maintain layout
   */
.invisible {
  visibility: hidden;
}

/*
   * Clearfix: contain floats
   *
   * The use of `table` rather than `block` is only necessary if using
   * `::before` to contain the top-margins of child elements.
   */
.clearfix::after,
.clearfix::before {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
@media print {
  *,
  *::after,
  *::before {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  img,
  tr {
    page-break-inside: avoid;
  }
  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* --- */
ol,
ul {
  list-style: none;
}

.fa-classic,
.fa-regular,
.fa-solid,
.far,
.fas {
  font-family: "fontawesome";
  src: url("../webfonts/fa-brands-400.ttf");
  src: url("../webfonts/fa-regular-400.ttf");
  src: url("../webfonts/fa-solid-900.ttf");
  src: url("../webfonts/fa-v4compatibility.ttf");
}

* {
  font-family: opensans;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

input:focus-visible {
  outline: none;
}

a {
  text-decoration: none !important;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

@font-face {
  font-family: opensans;
  src: url("../webfonts/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: opensans-light;
  src: url("../webfonts/fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: opensans-bold;
  src: url("../webfonts/fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: opensans-italic;
  src: url("../webfonts/fonts/OpenSans-Italic.ttf");
}
/* colors */
/* cotainer */
/* header */
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: auto;
}

header {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

.navbar-custom {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100px;
}

.header-logo {
  display: inline-flex;
  width: 150px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.header-logo figure {
  max-width: 100%;
  height: 100%;
  margin: 0;
}
.header-logo figure img {
  width: 100%;
  height: 100%;
}

.navbar-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.navbar-link {
  margin: auto 20px;
}
.navbar-link.active a {
  color: #333;
}
.navbar-link a {
  display: inline-block;
  color: #666;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  border-bottom: 0 solid #333;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.navbar-link a:hover {
  color: #076c85;
}
.navbar-link a::after {
  display: block;
  content: "";
  border-bottom: 0.5px solid #076c85;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.navbar-link a:hover::after {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.add-job-link {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  color: #666;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  border: 1px solid #666;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.add-job-link:hover {
  color: #076c85;
  border-color: #076c85;
}

.signin-register-sec {
  position: absolute;
  right: 0;
  margin: auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-register-link {
  color: #666;
  font-size: 16px;
}
.signin-register-link i {
  margin-right: 5px;
}
.signin-register-link:hover {
  color: #076c85;
}

.logout-button span {
  margin: 0 7px;
}

.breadcrumb {
  display: flex;
  margin: 10px 0;
}
.breadcrumb li {
  margin-left: 5px;
}

.breadcrumb-item.active a {
  color: #666;
}
.breadcrumb-item a {
  color: #000;
}

/* top banner */
.top-banner {
  width: 100%;
  height: 515px;
  background: #3e9ae2;
  background: linear-gradient(0deg, #3e9ae2 0%, #1f7fac 100%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.top-banner p {
  font-family: opensans;
  font-size: 32px;
  color: #fff;
  margin: 0;
}

.top-heading {
  font-family: opensans-bold;
  font-size: 80px;
  color: #fff;
  margin: 0;
}

.top-banner-searchbar {
  width: 500px;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
}
.top-banner-searchbar input {
  width: 100%;
  height: 100%;
  border: 0.5px solid #666;
  padding: 10px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background-color: #fff;
}
.top-banner-searchbar input::-moz-placeholder {
  font-size: 16px;
  font-family: opensans;
  color: #666;
  text-align: left;
}
.top-banner-searchbar input::placeholder {
  font-size: 16px;
  font-family: opensans;
  color: #666;
  text-align: left;
}
.top-banner-searchbar i {
  position: absolute;
  right: 10px;
  color: #666;
}

.scroll-down1 {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid #fff;
  font-size: 30px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.scroll-down1 i {
  color: #fff;
  animation: scrollDown1 1.5s ease infinite;
}

@keyframes scrollDown1 {
  0% {
    transform: translateY(-15px);
    opacity: 0;
  }
  50% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-custom {
  margin-top: 200px;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}

.jobs-more {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.jobs-more-link {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  color: #333;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.jobs-more-link:hover {
  color: #076c85;
}
.jobs-more-link:hover i {
  left: 100%;
}
.jobs-more-link i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% - 5px);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.about-us {
  margin-top: 150px;
  background-color: #fafafa;
  width: 100%;
  height: auto;
  padding: 50px 0;
}
.about-us .about-us-header {
  font-family: opensans-bold;
  font-size: 30px;
}
.about-us p {
  font-size: 16px;
  font-family: opensans;
  text-align: justify;
}
.about-us .about-us-btn {
  color: #333;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.about-us .about-us-btn:hover {
  color: #076c85;
}

.signup-login-box {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.signup-login-tabs {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  padding: 10px;
}

.signup-login-tab {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 5px;
}

.signup-login-tab:hover {
  background-color: #fafafa;
  border-radius: 5px;
}

.signup-login-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.signup-login-form {
  display: none;
}
.signup-login-form button,
.signup-login-form input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}
.signup-login-form button {
  background-color: #076c85;
  color: #fff;
  border: none;
  cursor: pointer;
}
.signup-login-form button:hover {
  background-color: #076c85;
}

.signup-login-form.show {
  display: block;
}

.about-us-header {
  font-family: opensans-bold;
  font-size: 30px;
  color: #000;
  margin: 15px 0;
}

.about-us {
  background-color: #fff;
}
.about-us p {
  font-family: opensans;
  font-size: 16px;
  color: #333;
}

.about-us-img {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.about-us-img img {
  width: 100%;
  height: auto;
}

.signup-login-box-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainBox {
  width: 500px;
  height: auto;
  overflow: hidden;
  background-color: #fafafa;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.signUpHeader {
  font-weight: lighter;
  font-size: 26px;
  color: #fafafa;
  background-color: #076c85;
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 20px 0;
}

.signUpForm {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.signUpForm input,
.signUpForm select,
.signUpForm textarea {
  font-size: 16px;
  width: 100%;
  height: 40px;
  border: 1px solid #666;
  background-color: transparent;
  margin-bottom: 15px;
  outline: 0;
  padding: 0 10px;
  color: #333;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.signUpForm input:focus, .signUpForm input:focus-visible,
.signUpForm select:focus,
.signUpForm select:focus-visible,
.signUpForm textarea:focus,
.signUpForm textarea:focus-visible {
  border: 1px solid #333;
}
.signUpForm select option {
  font-family: opensans;
  font-size: 16px;
}
.signUpForm label {
  font-weight: 400;
  font-size: 20px;
  color: #666;
  margin: 15px 0 5px;
}
.signUpForm textarea {
  height: 150px;
  resize: none;
  padding: 10px;
}

.signup-login-btn {
  font-size: 16px;
  text-align: center;
  width: auto;
  height: 40px;
  color: #fafafa;
  margin-top: 15px;
  padding: 5px;
  background-color: #076c85;
  border: 1px solid #076c85;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.signup-login-btn:hover {
  color: #076c85;
  background-color: #fafafa;
  border-color: #076c85;
}

.finalBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.finalBox p {
  position: relative;
  text-align: left;
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.finalBox p:nth-of-type(4n)::after {
  position: relative;
  content: "";
  width: 200px;
  border-bottom: 1px solid #000;
  margin: 20px 0;
}

.finalPrgrph {
  color: #076c85;
}

.tabButtons {
  display: flex;
}

.tabButton {
  width: 50%;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0;
  color: #fafafa;
  background-color: #076c85;
  border: none;
  border-bottom: 1px solid #fafafa;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.tabButton:hover {
  color: #076c85;
  background-color: #fafafa;
}

.user-update-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user-update-container p {
  margin: 5px 0;
}
.user-update-container p:first-of-type {
  font-weight: bold;
}
.user-update-container a {
  color: #333;
  text-decoration: underline !important;
  margin-top: 10px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.user-update-container a:hover {
  color: #076c85;
}

.jobs-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.job-box {
  width: auto;
  height: auto;
  margin: 20px;
  padding: 20px;
  background-color: #fafafa;
  border: 1px solid #fafafa;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 3px 3px 10px 3px #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.job-box p {
  font-size: 14px;
  text-align: justify;
  margin-bottom: 10px;
}
.job-box:hover {
  box-shadow: 3px 3px 20px 3px #f3f3f3;
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
}
.job-box ul {
  display: flex;
  margin-bottom: 10px;
  padding-left: 0;
  align-items: center;
}
.job-box ul li {
  font-size: 16px;
  color: #333;
  position: relative;
}
.job-box ul li::after {
  position: relative;
  content: ".";
  margin: 0 10px;
}

.indexp-job-box {
  width: 500px !important;
  height: 310px !important;
}
.indexp-job-box ul {
  align-items: flex-start;
}
.indexp-job-box p:first-of-type {
  height: 85px;
  overflow: hidden;
}

.job-box-header {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.job-box-header:hover {
  color: #000;
}

.job-address {
  color: #333;
}

.single-job-box {
  width: 100%;
  height: auto;
  background-color: #fafafa;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 20px;
}
.single-job-box ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 0;
}
.single-job-box ul li {
  font-size: 20px;
  margin-bottom: 10px;
  color: #666;
}
.single-job-box ul li span {
  cursor: pointer;
}

.single-job-header {
  font-size: 32px;
  font-weight: bolder;
  color: #333;
  margin-bottom: 20px;
}

.user-panel {
  width: 100%;
  height: auto;
  background-color: #fafafa;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 20px;
}

.user-panel-header {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.user-panel-info-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.user-panel-info-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin-bottom: 10px;
}
.user-panel-info-list li {
  font-size: 16px;
  color: #666;
  margin-bottom: 7px;
}
.user-panel-info-list li span {
  font-weight: bold;
  color: #333;
  margin-right: 5px;
}

.user-panel-content {
  width: 100%;
}

.job-box-list-index-section {
  flex-direction: column;
  align-items: flex-start;
}/*# sourceMappingURL=style.css.map */