<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>About Us</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="">
        <meta property="og:type" content="">
        <meta property="og:url" content="">
        <meta property="og:image" content="">

        <link rel="icon" href="../img/profile.png" type="image/svg+xml">
        <link rel="stylesheet" href="../css/all.min.css">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/style.min.css">
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/swiper-bundle.min.css">
        <link rel="manifest" href="site.webmanifest">
        <meta name="theme-color" content="#fafafa">
    </head>
    <body>
        <!-- breadcrump -->
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="./index.php">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                </ol>
            </nav>
        </div>
        <div class="container about-us">
            <h1 class="about-us-header">Lorem ipsum dolor sit</h1>
            <figure class="about-us-img"><img src="../img/about-us1.jpg" alt="about us"></figure>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ipsum a arcu cursus vitae congue mauris. Urna neque viverra justo nec ultrices dui sapien eget mi. Consequat ac felis donec et odio pellentesque. Nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Iaculis at erat pellentesque adipiscing commodo elit at imperdiet. Pellentesque id nibh tortor id aliquet lectus. Fermentum leo vel orci porta non pulvinar neque laoreet. Et netus et malesuada fames ac. Nunc id cursus metus aliquam eleifend mi in nulla. Posuere ac ut consequat semper viverra nam libero. Sed vulputate mi sit amet mauris commodo quis imperdiet. Fermentum et sollicitudin ac orci phasellus egestas. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum.</p>
            <figure class="about-us-img"><img src="../img/about-us2.jpg" alt="about us"></figure>
        </div>
    </body>
</html>